.container {
  display: grid;
  grid-template: repeat(2, 200px) / repeat(10, 150px);
  width: 100vw;
  gap: 12px;
  place-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 12px;
}


.card{
  transition: transform 0.3s ease-in-out,width 0.3s ease-in-out , height 0.3s;
  box-sizing: border-box;
}
.card:hover{
  transform: scale(1.2);
  height: 210px;
  width: 210px;
  cursor: pointer;
}

.card img {
    object-fit: contain;
    width: 200px;
    height: 200px;
    margin: 5px 5px;
    padding: 5px;
}
